.price-calculator{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 1em 1em -1em rgba(0, 0, 0, .25);
}


.group{
    color: black;
    width: 50%;
    margin: 0 0 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.form-input-group{
    width: 40%;
}

input,select{
    background: none;
    border:1px solid lightgrey;
    border-radius: 5px;
}
input{
    padding-left: 10px;
}
select{
    padding: 15px;
}
.form-input-group input, select{
    padding: 15px;
    width: 100%;
}


   
.form-input-group .input-label{
        margin-bottom: 5px;
        color: #ddd;
    }

.no-scroll::-webkit-scrollbar {display:none;}
.no-scroll::-moz-scrollbar {display:none;}
.no-scroll::-o-scrollbar {display:none;}
.no-scroll::-google-ms-scrollbar {display:none;}
.no-scroll::-khtml-scrollbar {display:none;}